@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(http://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);

body, pre {
	font-family: 'Source Code Pro', 'Rounded Mplus 1c', sans-serif;
	font-size: 14px;
	line-height: 130%;
}
a {
	color: black;
	text-decoration: none;
}

.border_radius {
	background-color: white;
	border: 1px solid #d9d9d9;
	border-radius: 6px;
}

/*--------------------------------------------------------------------------------*/

nav#left_navigation {
	position: fixed;
	width: 300px;
	margin-left: 8px;
	min-width: 200px;

	height: 96%;
	min-height: 600px;

	margin-top: 4px;
	overflow-y: auto;
}

#divider {
	position: fixed;
	left: 300px;
	width: 5px;

	margin-left: 8px;
}

#content {
	position: fixed;
	left: 300px;
	margin-left: 13px;	/* #divider の `margin-left` と `width` を足した値 */
	margin-right: 8px;
	min-width: 800px;

	height: 96%;
	min-height: 600px;

	margin-top:  4px;
	overflow-y: auto;
}

/*--------------------------------------------------------------------------------*/
/** 表示対象テーブルの選択ナビゲーション */
.item_count {
	margin-left: 8px;
	font-weight: bold;
	color: red;
}

nav div.nav_list_block {
	margin-top: 20px;
	height: 85%;
	overflow-y: scroll;
}
nav ul {
	list-style-type: none;
	padding-left: 0;
	border-collapse: collapse;
}
nav ul li.nav_link {
	border-top: 1px solid #d9d9d9;
	padding: 8px 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	font-size: 12px;
}
nav ul li.nav_link:hover {
	text-decoration: none;
	font-weight: bold;
	background-color: #e6ffe6;
	border: 1px solid black;
}

nav ul li.nav_link.selected {
	background-color: #f7f7cc;
}

/* ------------------------------ */

/** 定義書本体 */

/** テーブルの共通スタイル */
table {
	border: 1px solid black;
	border-collapse: collapse;
}
table th {
	background-color: #c8c8c8;
}
table tbody tr:not(:first-child) {
	border-top: 1px solid #d9d9d9;
}

/*--------------------------------------------------------------------------------*/
/** テーブル概要 */
table.my-table-spec {
	margin-top: 1px;
	margin-left: 10px;
}
table.my-table-spec tr:not(:first-child) {
	border-top: 1px solid #d9d9d9;
}
table.my-table-spec th {
	width: 150px;
}
table.my-table-spec td {
	min-width: 400px;
}

/*--------------------------------------------------------------------------------*/
/** カラム詳細 */
table.my-table-detail {
	table-layout: fixed;
	margin-left: 10px;
	margin-top: 1px;
	text-align: left;
}
table.my-table-detail thead {
	display: block;
	width: 1380px;
}
table.my-table-detail tbody {
	display: block;
	width: 1380px;
	height: 580px;
	overflow-y: scroll;
	-ms-overflow-y: scroll;
}
table.my-table-detail tr {
	height: 30px;
}
table.my-table-detail .cell_no     { width:  30px; }
table.my-table-detail .cell_column { width: 300px; }
table.my-table-detail .cell_type   { width: 170px; }
table.my-table-detail .cell_null   { width:  60px; }
table.my-table-detail .cell_default{ width: 100px; }
table.my-table-detail .cell_pri    { width:  70px; }
table.my-table-detail .cell_uni    { width:  70px; }
table.my-table-detail .cell_other  { width: 200px; }
table.my-table-detail .cell_comment{ width: 345px; }

/*--------------------------------------------------------------------------------*/
/** インデックス情報 */
table.my-table-keys {
	border: 1px solid #ffbd70;
	margin-top: 1px;
	margin-left: 10px;
}
table.my-table-keys thead {
	display: block;
	width: 1380px;
}
table.my-table-keys tbody {
	display: block;
	width: 1380px;
	height: 140px;
	overflow-y: scroll;
	-ms-overflow-y: scroll;
}
table.my-table-keys th {
	background-color: #ffbd70;
	text-align: left;
	width: 120px;
}
table.my-table-keys tbody tr:not(:first-child) {
	border-top: 1px solid #ffbd70;
}
table.my-table-keys .cell_key_name    { width:  100px; }
table.my-table-keys .cell_unique      { width:  100px; }
table.my-table-keys .cell_column_name { width:  300px; }
table.my-table-keys .cell_seq_in_index{ width:  120px; }
table.my-table-keys .cell_cardinality { width:  100px; }
table.my-table-keys .cell_comment     { width:  630px; }