@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(http://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);

/*--------------------------------------------------------------------------------*/
/* vender DataTables */
table.dataTable thead th, table.dataTable thead td {
	padding: 0 18px;
}
/* 検索窓を左に表示 */
.dataTables_wrapper .dataTables_filter {
	float: left;
}

/*--------------------------------------------------------------------------------*/
/* 標準タグ　スタイル設定 */

body, pre, code, table {
	font-family: 'Source Code Pro', 'Rounded Mplus 1c', sans-serif;
	font-size: medium;
	line-height: 120%;
}
a {
	color: black;
	text-decoration: none;
}
pre {
	background-color: #f5f5f5;
	padding: 8px;
}

dl {
	margin: 0;
	padding: 0;
	border: 1px solid black;
	font-size: small;
	line-height: 120%;
}
dt:not(:last-of-type), dd:not(:last-of-type) {
	border-bottom: 1px solid #d9d9d9;
}
dt {
	background: #999999;
	min-width: 200px;
	height: 20px;
	float: left;
	clear : both;
	text-align: center;
}
dd {
	margin: 0;
	padding-left: 204px;
	min-width: 400px;
	height: 20px;
	background-color: white;
}
dd:hover {
	background-color: #e6ffe6;
}

/* table */
table {
	/*border: 1px solid black;*/
	border-collapse: collapse;
}

table th {
	font-size: small;
	text-align: left;
	background-color: #c8c8c8;
}

table tbody td {
	border-bottom: 1px solid #d9d9d9;
}
table tbody tr:hover {
	background-color: #e6ffe6;
}

/*--------------------------------------------------------------------------------*/

.border_radius {
	background-color: #fafafa;
	border: 1px solid #d9d9d9;
	border-radius: 6px;
}

/*--------------------------------------------------------------------------------*/
/* split-pane ライブラリ用の設定 */
#split_pane_left {
	position: fixed;
	width: 300px;
	margin-left: 8px;
	min-width: 200px;
}

#divider {
	position: fixed;
	left: 300px;
	width: 5px;

	margin-left: 8px;
}

#split_pane_right {
	position: fixed;
	left: 300px;
	margin-left: 13px;	/* #divider の `margin-left` と `width` を足した値 */
	margin-right: 8px;
	min-width: 800px;
}

/*--------------------------------------------------------------------------------*/

#left_navigation {
	height: 98%;
	min-height: 600px;

	margin-top: 4px;
	overflow-y: auto;
}

#content{
	margin: 4px 0 0 0;
	padding: 1px 10px;

	height: 98%;
	min-height: 600px;

	overflow-y: auto;
}

/*--------------------------------------------------------------------------------*/
/** 表示対象テーブルの選択ナビゲーション */
.item_count {
	margin-left: 8px;
	font-weight: bold;
	color: red;
}

#nav_list_block {
	margin-top: 20px;
	height: 85%;
	overflow-y: scroll;
}
#nav_list_block ul {
	background-color: white;
	list-style-type: none;
	padding-left: 0;
	border-collapse: collapse;
}
#nav_list_block ul li.nav_link {
	border-bottom: 1px solid #d9d9d9;
	padding: 8px 0 8px 3px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	font-size: 12px;
}

/* ひし形マーク */
#nav_list_block li.nav_link:before {
	content: '';
	display: inline-block;
	width: .5em;
	height: .5em;
	margin-right: .3em;
	background-color: black;
	transform: rotate(45deg);
	vertical-align: 2px;
}

#nav_list_block ul li.nav_link:hover {
	text-decoration: none;
	font-weight: bold;
	background-color: #e6ffe6;
	border-bottom: 1px solid black;
}

#nav_list_block ul li.nav_link.selected {
	background-color: #f7f7cc;
}

/* ------------------------------ */

/** 定義書本体 */

/*--------------------------------------------------------------------------------*/
/* テーブル概要 */
.my-table-spec {
	cursor: pointer;
}

/*--------------------------------------------------------------------------------*/
/** カラム詳細 */
.my-table-detail table {
	/*table-layout: fixed;*/
	/*margin-top: 1px;*/
	text-align: left;
}
.my-table-detail table .cell_no     { color: blue; font-weight: bold; }

/*--------------------------------------------------------------------------------*/
/** インデックス情報 */
.my-table-keys table th {
	background-color: #ffdeaf;
}
.my-table-keys table tbody td {
	border-bottom: 1px solid #ffdeaf;
}