/** 表示対象テーブルの選択ナビゲーション */
nav {
	position: fixed;
	width: 300px;
	height: 96%;
	min-height: 600px;
	top: 8px;
	left: 8px;
	overflow-y: auto;

	background-color: white;
	border: 1px solid #d9d9d9;
	border-radius: 6px;
}

/* ------------------------------ */

#filtered_item_count {
	margin-left: 8px;
	font-weight: bold;
	color: red;
}

/* ------------------------------ */
nav div.nav_list_block {
	margin-top: 20px;
	height: 82%;
	overflow-y: scroll;
}
nav ul {
	list-style-type: none;
	padding-left: 0;
}
nav ul a {
	display: block;
	font-size: 13px;
	color: rgba(0,0,0,0.7);
	padding: 8px 12px;
	border-top: 1px solid #d9d9d9;
	border-left: 2px solid transparent;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	white-space: nowrap;
}
nav ul a:hover {
	text-decoration: none;
	background-color: bad-color;
	border: 2px solid black;
}

nav ul a.selected {
	background-color: #f7f7cc;
}

/* ------------------------------ */

/** 定義書本体 */
div#content {
	position: fixed;
	width: 80%;
	min-width: 800px;
	height: 96%;
	min-height: 600px;
	overflow-y: auto;
	top:  8px;
	left: 315px;

	background-color: white;
	border: 1px solid #d9d9d9;
	border-radius: 6px;
}

/** テーブルの共通スタイル */
table {
	border: 2px solid #000000;
	border-collapse: collapse;
}
table th {
	background-color: #adadad;
}
table td {
	border-top: 1px solid #d9d9d9;
}

/** テーブル概要 */
table.my-table-spec {
	margin-top: 8px;
	margin-left: 10px;
}
table.my-table-spec th {
	width: 150px;
	border-top: 1px solid #d9d9d9;
}
table.my-table-spec td {
	min-width: 400px;
}

/** カラム詳細 */
table.my-table-detail {
	table-layout: fixed;
	margin-left: 10px;
	margin-top: 2px;
	text-align: left;
}
table.my-table-detail thead {
	display: block;
	width: 1380px;
}
table.my-table-detail tbody {
	display: block;
	width: 1380px;
	height: 600px;
	overflow-y: scroll;
	-ms-overflow-y: scroll;
}
table.my-table-detail tr {
	height: 40px;
}
table.my-table-detail .cell_no     { width:  30px; }
table.my-table-detail .cell_column { width: 300px; }
table.my-table-detail .cell_type   { width: 130px; }
table.my-table-detail .cell_null   { width:  60px; }
table.my-table-detail .cell_default{ width: 100px; }
table.my-table-detail .cell_pri    { width:  70px; }
table.my-table-detail .cell_uni    { width:  70px; }
table.my-table-detail .cell_other  { width: 200px; }
table.my-table-detail .cell_comment{ width: 385px; }

/** インデックス情報 */
table.my-table-keys {
	border: 2px solid #ffbd70;
	margin-top: 2px;
	margin-left: 10px;
}
table.my-table-keys thead {
	display: block;
	width: 1380px;
}
table.my-table-keys tbody {
	display: block;
	width: 1380px;
	height: 140px;
	overflow-y: scroll;
	-ms-overflow-y: scroll;
}
table.my-table-keys th {
	background-color: #ffbd70;
	text-align: left;
	width: 120px;
}
table.my-table-keys td {
	border-top: 1px solid #ffbd70;
}
table.my-table-keys .cell_key_name    { width:  100px; }
table.my-table-keys .cell_unique      { width:  100px; }
table.my-table-keys .cell_column_name { width:  300px; }
table.my-table-keys .cell_seq_in_index{ width:  120px; }
table.my-table-keys .cell_cardinality { width:  100px; }
table.my-table-keys .cell_comment     { width:  630px; }